service: s3-document-service

frameworkVersion: 3.x

configValidationMode: error

provider:
  architecture: arm64
  deploymentBucket:
    name: com.reference-architecture.deploys
    maxPreviousDeploymentArtifacts: 5
    serverSideEncryption: AES256
  environment:
    BUCKET_NAME: ${self:custom.bucketName}
    TABLE_NAME: ${self:custom.tableName}
  logRetentionInDays: 30
  name: aws
  region: us-east-1
  runtime: nodejs22.x
  stage: dev
  # tags:
  #   lumigo:auto-trace: 'true'

custom:
  bucketName: com.reference-architecture.${self:service}
  datadog:
    apiKey: ${ssm:/aws/reference/secretsmanager/dd-api-key}
    captureLambdaPayload: true
    enableDDLogs: true
    site: datadoghq.com
  esbuild:
    minify: true
  prune:
    automatic: true
    number: 1
  tableName: ${self:service}

functions:
  getDocumentMetadataById:
    handler: src/handlers/getDocumentMetadataById.default
    events:
      - httpApi:
          method: GET
          path: /document-metadata/{id}
    iamRoleStatements:
      - Effect: Allow
        Action: dynamodb:GetItem
        Resource: !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${self:custom.tableName}
      - Effect: Allow
        Action:
          - 's3:Get*'
          - 's3:List*'
        Resource:
          - arn:aws:s3:::${self:custom.bucketName}
          - arn:aws:s3:::${self:custom.bucketName}/*
  listDocumentMetadata:
    handler: src/handlers/listDocumentMetadata.default
    events:
      - httpApi:
          method: GET
          path: /document-metadata
    iamRoleStatements:
      - Effect: Allow
        Action: dynamodb:Query
        Resource: !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${self:custom.tableName}
  saveDocumentMetadata:
    handler: src/handlers/saveDocumentMetadata.default
    events:
      - eventBridge:
          pattern:
            source:
              - aws.s3
            detail-type:
              - Object Created
            detail:
              bucket:
                name:
                  - ${self:custom.bucketName}
    iamRoleStatements:
      - Effect: Allow
        Action: s3:GetObject
        Resource: arn:aws:s3:::${self:custom.bucketName}/*
      - Effect: Allow
        Action: dynamodb:PutItem
        Resource: !Sub arn:aws:dynamodb:${self:provider.region}:${AWS::AccountId}:table/${self:custom.tableName}
  createPreSignedPost:
    handler: src/handlers/createPreSignedPost.default
    events:
      - httpApi:
          method: POST
          path: /pre-signed-post
    iamRoleStatements:
      - Effect: Allow
        Action:
          - 's3:List*'
          - 's3:PutObject'
        Resource:
          - arn:aws:s3:::${self:custom.bucketName}
          - arn:aws:s3:::${self:custom.bucketName}/*

package:
  individually: true

plugins:
  - serverless-esbuild
  - serverless-iam-roles-per-function
  - serverless-deployment-bucket
  - serverless-prune-plugin
  - serverless-datadog-plugin

resources:
  Resources:
    DocumentBucket:
      Type: AWS::S3::Bucket
      Properties:
        AccessControl: Private
        BucketEncryption:
          ServerSideEncryptionConfiguration:
            - ServerSideEncryptionByDefault:
                SSEAlgorithm: AES256
        BucketName: ${self:custom.bucketName}
        NotificationConfiguration:
          EventBridgeConfiguration:
            EventBridgeEnabled: true
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true
    DocumentTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tableName}
        AttributeDefinitions:
          - AttributeName: companyId
            AttributeType: S
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: companyId
            KeyType: HASH
          - AttributeName: id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
