# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI & Test

on:
  push:
    branches: [master]
  schedule:
    # - cron: 0 7 * * *
    - cron: 0 * * * *
concurrency: one-at-a-time-please

# These permissions are needed to interact with GitHub's OIDC Token endpoint.
permissions:
  id-token: write
  contents: read

jobs:
  DeployAndTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm ci
      - name: Run unit tests
        run: npm test
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      - name: Deploy
        run: npx sls deploy
      - name: Run int tests
        run: npm run test:int
      - name: E2E Test
        run: npm run test:e2e
      - name: E2E Test
        run: npm run test:e2e
      # - name: Tear down
      #   run: npx sls remove
